@import "fonts";
@import "colors";

$body-bg: $purple-lighter;
$brand-danger: $pink;
$brand-success: $green;
$brand-warning: $yellow;
$font-family-sans-serif: 'Roboto', sans-serif;
$link-color: $white;
$navbar-default-bg: $purple;
$navbar-default-link-active-color: $white;
$navbar-default-link-color: $white;
$navbar-default-link-hover-color: $white-dark;
$panel-bg: $purple-light;
$panel-default-border: $purple;
$panel-default-heading-bg: $purple;
$panel-default-text: $white;
$text-color: $white;
$well-bg: $purple-light;

@import "bootstrap-sprockets";
@import "bootstrap";

@import "grid";
@import "buttons";
@import "inputs";
@import "navbar";

@import "layouts/application";
@import "layouts/header";
