$white: #FFFFFF;
$white-dark: darken($white, 20%);

$purple: #7218b7;
$purple-light: #853ABF;
$purple-lighter: #9E5FCF;
$purple-dark: #590997;
$purple-darker: #450676;

$pink: #CB0E8D;

$green: #A4DF0B;

$yellow: #DED700;
$yellow-dark: darken($yellow, 10%);
