@for $i from 0 through 10 {
  .mt-#{$i} {
    margin-top: #{$i*10}px;
  }
  .mb-#{$i} {
    margin-bottom: #{$i*10}px;
  }

  .pa-#{$i} {
    padding: #{$i*10}px;
  }
}

.dib {
  display: inline-block;
}
